.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50
}
.tooltip{
  visibility: hidden;
  position: absolute;
}
.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}

*{
	margin: 0;
	padding: 0;
}


body {
	font-family: "Encode Sans", Arial, sans-serif;
}

.nav {
	background-image: url("../imagenes/header.png");
	background-size: contain;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	border-bottom: 20px solid rgb(0, 0, 0, 0.7);
}

.nav .h1-nav {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.inicio-registro {
	margin-top: 10px;
	text-align: center
}

.inicio-registro h1 {
	font-size: 35px;
	margin-bottom: 10px;
	font-weight: bold;
}

.inicio-registro h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

.botones-registro {
	display: flex;
	justify-content: center;
}

.botones-registro button {
	margin: 10px;
	outline: none;
	border: 0;
}


.centrado {
	display: flex;
	justify-content: center;
}

.icono-usuario{
	height: 70px;
	padding: 5px;

}


/* ESTILO PARA ESCONDER LAS FLECHITAS DEL INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
